- name: Deploy Dockerized application on EC2
  hosts: ec2
  become: true

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Pull Docker image from Docker Hub
      docker_container:
        name: devops-app
        image: prasanna542docker/devops-ci-cd-app:latest
        state: started
        restart_policy: always
        ports:
          - "80:5000"
